*.o
applet/
*~
*.orig
*.rej
*.bak
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
Marlin/Visual Micro/.Marlin.vsarduino.h
Marlin/Visual Micro/Configuration.Debug.vmps.xml
Marlin/Visual Micro/Compile.vmps.xml
Marlin/Marlin.opensdf
Marlin/Marlin.sdf
Marlin/Visual Micro/Upload.vmps.xml
Marlin/Visual Micro/Configuration.Release.vmps.xml
